.entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.tile1{
    height: 20px;
   width: 20px;
   border: 1px solid black;
   background-color: aqua;
}
.tile2{
    height: 20px;
   width: 20px;
   border: 1px solid black;
   background-color: rgba(206, 227, 18, 0.806);
}
.tile3{
    height: 20px;
   width: 20px;
   border: 1px solid black;
   background-color: rgba(97, 98, 94, 0.806);
}
